<% include ../header %>
	<p>Hi <em><%= offerer.nameDisplay %></em>,</p>
	<p>
		<%= requester ? requester.nameDisplay : "An unregistered user" %> would like to buy your book
		<em><%= book.title %></em> for <em><%= offer.price %> CHF</em>.
		To respond, please click <a href='<%= responseUrl %>'>here</a>.
		<% if(request.message) {%>
			<p>Message:</p>
			<p><%= request.message %></p>
		<% } %>
	</p>
<% include ../footer %>
