<% include ../header %>
	<p>Hi <em><%= offerer.nameDisplay %></em>,</p>
	<p>
		<%= offerer.nameDisplay %> would like to buy your book
		<em><%= book.title %></em> for <em><%= offer.price %> CHF</em>.
		To respond, please click <a href='<%= responseUrl %>'>here</a>.
		<% if(requester.placeOfResidence) {%>
			<%= offerer.nameDisplay %>'s place of residence is
			<em><%= requester.placeOfResidence %></em>
		<% } %>
	</p>
<% include ../footer %>
