<!DOCTYPE html>
<html>
	<head>
		<title><%= __("Booki") %> - <%= __("Error") %></title>
		
		<meta charset="utf-8">
		
		<link href="/static/res/css/booki.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
		
	</head>
	
	<body>
		<nav class="navbar navbar-dark bg-primary">
			<a class="navbar-brand" href="#"><img src="/static/res/img/logo.svg"></a>
		</nav>
		
		<div class="modal static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3><%= error.name %></h3>
					</div>
					<div class="modal-body">
						
						<%if (error.message) { %>
							<p><%= __("Message") %> : <%= error.message %></p>
						<% } %>
						
						<%if (error.response) { %>
							<p><%= __("Response") %> : <%= error.response %></p>
						<% } %>
						
						<%if (error.explanation) { %>
							<p><%= __("Explanation") %> : <%= error.explanation %></p>
						<% } %>
						
						<%if (true && error.stack) { %>
							<p><%= __("Stack Trace") %> : <code><%= error.stack %></code></p>
						<% } %>
						
						<%if (error.errors && error.errors.length > 0) { %>
							<div class="list-group">
							<% for(var i=0; i<error.errors.length; i++) { %>
								<div class="list-group-item">
									<h5 class="list-group-item-heading"><%= __("Field") %> : <%= error.errors[i].field %></h5>
									<p class="list-group-item-text">
										<ul class="list-style-none">
											<% for(var j=0; j<error.errors[i].messages.length; j++) { %>
												<li><%= error.errors[i].messages[j] %></li>
											<% } %>
										</ul>
									</p>
								</div>
							<% } %>
							</div>
						<% } %>
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>