<!DOCTYPE html>
<html>
	<head>
		<title><%= __("Booki") %> - <%= __("Login / Register") %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/res/css/booki.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">

		<script>
			document.addEventListener('DOMContentLoaded', function() {
				document.getElementById("showRegister").addEventListener("click", function(){
					document.getElementById("login").style.display    = "none";
					document.getElementById("register").style.display	= "block";
				});

				document.getElementById("showLogin").addEventListener("click", function(){
					document.getElementById("login").style.display    = "block";
					document.getElementById("register").style.display	= "none";
				});

				document.getElementById("showResetPassword").addEventListener("click", function(){
					document.getElementById("resetPassword").style.display = "block";
					document.getElementById("login").style.display         = "none";
				});

				document.getElementById("rememberPassword").addEventListener("click", function(){
					document.getElementById("resetPassword").style.display = "none";
					document.getElementById("login").style.display         = "block";
				});
			});
		</script>

	</head>

	<body>
		<nav class="navbar navbar-dark bg-primary">
			<a class="navbar-brand" href="#"><img src="/static/res/img/logo/logo.svg"></a>
		</nav>

		<div class="modal static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<form id="login" method="POST" action="/v1/auth/local/login">
							<div class="form-group">
								<label for="email"><%= __("Email address") %></label>
								<input type="email" class="form-control" id="email" name="username">
							</div>
							<div class="form-group">
								<label for="password"><%= __("Password") %></label>
								<input type="password" class="form-control" id="password" name="password">
								<small class="form-text text-muted text-xs-left">
									<a href="#" id="showResetPassword"><%= __('Forgot your password?') %></a>
								</small>
							</div>
							<button type="submit" class="btn btn-primary btn-block"><%= __('Login') %></button>
							<small class="form-text text-muted text-xs-left">
								<a href="#" id="showRegister"><%= __("Don't have an account?") %></a>
							</small>
						</form>
						<form id="register" method="POST" action="/v1/auth/local/register">
							<div class="form-group">
								<label for="firstName"><%= __("First name") %></label>
								<input type="text" class="form-control" id="firstName" name="firstName">
							</div>
							<div class="form-group">
								<label for="email"><%= __("Email address") %></label>
								<input type="email" class="form-control" id="email" name="email">
							</div>
							<button type="submit" class="btn btn-primary btn-block"><%= __('Register') %></button>
							<small class="form-text text-muted text-xs-left">
								<a href="#" id="showLogin"><%= __("Already have an account?") %></a>
							</small>
						</form>
						<form id="resetPassword" method="POST" action="/v1/auth/init-password-reset">
							<div class="form-group">
								<label for="email"><%= __("Email address") %></label>
								<input type="email" class="form-control" id="email" name="email">
							</div>
							<button type="submit" class="btn btn-primary btn-block"><%= __('Reset password') %></button>
							<small class="form-text text-muted text-xs-left">
								<a href="#" id="rememberPassword"><%= __("Remember your password?") %></a>
							</small>
						</form>
					</div>
					<div class="modal-footer">
						<a href="/v1/auth/facebook/login/" class="btn btn-primary bg-facebook btn-block"><%= __('Sign in with') %> <%= __('Facebook') %></a>
						<a href="/v1/auth/google/login/" class="btn btn-primary bg-google btn-block"><%= __('Sign in with') %> <%= __('Google') %></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
