<!DOCTYPE html>
<html>
	<head>
		<title><%= __("Booki") %> - <%= __("Reset password") %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link href="/static/res/css/booki.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">

	</head>

	<body>
		<nav class="navbar navbar-dark bg-primary">
			<a class="navbar-brand" href="#"><img src="/static/res/img/logo/logo.svg"></a>
		</nav>

		<div class="modal static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<form id="login" method="POST" action="/v1/auth/password-reset">
							<div class="form-group">
								<label for="email"><%= __("Email") %></label>
								<input type="text" class="form-control" id="email" name="email" value="<%= email %>">
							</div>
							<div class="form-group">
								<label for="resetCode"><%= __("Password reset code") %></label>
								<input type="text" class="form-control" id="resetCode" name="resetCode" value="<%= code %>">
							</div>
							<div class="form-group">
								<label for="password"><%= __("Your new password") %></label>
								<input type="password" class="form-control" id="password" name="password">
							</div>
							<button type="submit" class="btn btn-primary btn-block"><%= __('Reset password') %></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
